<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>Conoce el proyecto</title>
    <link href="static/css/hojadeestilogeneral.css" rel="stylesheet" media="screen">
    <link href="static/css/acercade.css" rel="stylesheet">
</head>
<body>
<div>
    <img align="left" src="static/img/logo.png"/>
</div>
<nav>
  <ul>
    <li><a href="inicio">Inicio</a></li>
    <li><a href="movimientos">Ingresar Movimientos</a></li>
    <li><a href="ver_movimientos">Ver Movimientos</a></li>
    <li><a href="acercade">Informacion acerca del proyecto</a></li>
  </ul>
</nav>
<div> <p class="changelog">Historial de cambios</p>
    <ol class="listacambios">
        <li type="circle"> v0.11: Creación del historial de cambios y mas cambios en las hojas de estilo.</li>
        <li type="circle"> v0.10: Implementación de evento Javascript (onChange) para establecer un select dependiente (el listado de categoría cambia según el tipo de movimiento) en el formulario de registro de movimientos.</li>
        <li type="circle"> v0.9: Corrección de problema de funcionalidad del botón borrar en tabla de la sección de registro de movimientos(se borraban todos los elementos en lugar del especificado). </li>
        <li type="circle"> v0.8: Implementación de tabla en sección de registro de movimientos que permite borrar elementos. </li>
        <li type="circle"> v0.7: Cambios en el servidor local y en las hojas de estilo</li>
        <li type="circle"> v0.6: Cambios en las hojas de estilo y otras correcciones.</li>
        <li type="circle"> v0.5: Implementada la funcionalidad para obtener montos totales (Gastos e Ingresos).</li>
        <li type="circle"> v0.4: Correcciones HTML. </li>
        <li type="circle"> v0.3: Correcciones de SQLite3.</li>
        <li type="circle"> v0.2: Añadidas las tablas filtradas por tipo de movimiento.</li>
        <li type="circle"> v0.1: Versión inicial.</li>
    </ol>
</div>
</body>
</html>
