<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>TuPresupuesto</title>
    <link href="static/css/hojadeestilogeneral.css" rel="stylesheet" media="screen">
    <link href="static/css/estilototales.css" rel="stylesheet">
    <script src="static/js/montostotales.js" rel="script"> </script>
<body>
<div>
    <img align="left" src="static/img/logo.png"/>
</div>
<nav>
  <ul>
    <li><a href="inicio">Inicio</a></li>
    <li><a href="movimientos">Ingresar Movimientos</a></li>
    <li><a href="ver_movimientos">Ver Movimientos</a></li>
    <li><a href="acercade">Informacion acerca del proyecto</a></li>
  </ul>
</nav>
</body>
</html>
