<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Movimientos - TuPrespuesto</title>
    <link href="static/css/hojadeestilogeneral.css" rel="stylesheet" media="screen">
</head>
<body>
<div>
    <img class="logo" src="static/img/logo.png"/>
</div>
<nav>
  <ul>
    <li><a href="inicio">Inicio</a></li>
    <li><a href="movimientos">Ingresar Movimientos</a></li>
    <li><a href="ver_movimientos">Ver Movimientos</a></li>
    <li><a href="#">Informacion acerca del proyecto</a></li>
  </ul>
</nav>
</div>
</body>
</html>