th {
    background: #f1f1f1;
    font-weight: bold;
    padding: 6px;
}
td {
    background: #f9f9f9;

}

.tablaeningresarmovimientos {
float:right;
margin:10%;
padding-right: 10%;
  background-color: #673ab7;
}

.ingresoderegistros
{
background:#673ab7;
float:right;
padding-right: 10%;
}

