.tablamovimientos{
    float: right;
    width: 70%;
    padding-right: 10%;
}
th {
    background: #f1f1f1;
    font-weight: bold;
    padding: 6px;
    padding-right: 10%;
}
td {
    background: #f9f9f9;
    padding: 6px;
    padding-right: 10%;
}
.tablaingresos {
    float: right;
    width: 70%;
    position: right;
}
.tablagastos{
    display:table;
    float: right;
    width: 70%;
    position: right;
}

