.tablamovimientos{
    float: right;
    width: 70%;
    padding-right: 10%;
}
th {
    background: #f1f1f1;
    font-weight: bold;
    padding: 6px;
}
td {
    background: #f9f9f9;

}
.tablaingresos {
    float: right;
    width: 70%;
    position: right;
}
.tablagastos{
    float: right;
    width: 70%;
    position: right;
    padding-top: 10%;
}

.tablaA {
  float:left;
  width: flex;
  margin: flex;
  padding: flex;
  background-color: #673ab7;
}

.tablaB {
  float:left;
  width: flex;
  margin: flex;
  padding: flex;
  background-color: #673ab7;
}

.tablaC {
  float:left;
  width: flex;
  margin: flex;
  padding: flex;
  background-color: #673ab7;
}

.titulostablas {
    float: right;
    width: 70%;
    color: white;
    font-size: 20px;
}

